<div th:fragment="footer">
	<footer class="container py-5">
		<div class="row">
			<div class="col-12 col-md">
				<p>&copy; All rights reserved 2022</p>
			</div>
			<div class="col-6 col-md">
				<h5 th:text="#{partners}"></h5>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary" href="https://kabanchik.ua/">Kabanchik.ua</a></li>
					<li><a class="link-secondary" href="https://crafta.ua">Crafta.ua</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary" href="https://zakupki.prom.ua/?source_id=prom_footer&amp;utm_source=prom.ua&amp;utm_medium=link&amp;utm_content=footer&amp;utm_campaign=all">Zakupki.prom.ua</a></li>
					<li><a class="link-secondary" href="https://shafa.ua">Shafa</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary" href="https://izi.ua">IZI.ua</a></li>
					<li><a class="link-secondary" href="https://bigl.ua/">Bigl.ua</a></li>
				</ul>
			</div>
		</div>
		<li class="float-end"><a href="#top" th:text="#{backtotop}"></a></li>
	</footer>
</div>