<div th:fragment="header" xmlns="http://www.w3.org/1999/html">
    <header class="container-fluid site-header sticky-top py-1 card shadow-sm">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/static" class="d-flex align-items-center text-dark text-decoration-none">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/images/logo.png}" src="" width="auto" height="40"
                         class="d-inline-block align-top" alt=""/>
                </a>
                <span class="fs-4">Market Place</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/}" href="#" th:text="#{main}"></a>
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/admins}" href="#" th:text="#{admin}"></a>
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/logout}" href="#" th:text="#{logout}"></a>
            </nav>
        </div>
    </header>
</div>