<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Register user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<!--Header-->
<header th:insert="blocks/header :: header"></header>

<!--Main layout-->
<div class="row" style="text-align: center">
    <div class="col-lg-5"></div>

    <div class="col-lg-2">
        <h2 th:text="#{register.data}"></h2>

        <form class="form-signing" th:method="post" th:action="@{/web/v1/users}">
            <label for="login" th:text="#{form.login}"></label>
            <input type="email" id="login" name="email" class="form-control form-control-lg"
                   placeholder="email@gmail.com"
                   minlength="2" maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
            <div style="text-align: center">
                <p style="color: red" th:text="${messageErrorEmail}"></p>
            </div>

            <label for="nickname" th:text="#{form.nickname}"></label>
            <input type="text" id="nickname" name="nickname" class="form-control form-control-lg"
                   th:placeholder="#{nickname}"
                   minlength="2" pattern="^[A-Za-zА-ЩЬЮЯҐІЇЄа-щьюяґіїє'\\- ]{2,}" required>
            <div style="text-align: center">
                <p style="color: red" th:text="${messageErrorNickname}"></p>
            </div>

            <label for="password" th:text="#{form.password}"></label>
            <input type="password" id="password" name="password" class="form-control form-control-lg"
                   th:placeholder="#{password}"
                   minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{8,}$" required>
            <div style="text-align: center">
                <p style="color: red" th:text="${messageErrorPassword}"></p>
            </div>

            <label for="confirmPassword" th:text="#{form.password.confirm}"></label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg"
                   th:placeholder="#{password.confirm}"
                   minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{8,}$" required>
            <div style="text-align: center">
                <p style="color: red" th:text="${messageErrorPasswordConfirm}"></p>
            </div>
            <div style="text-align: center">
                <p style="color: red" th:text="${messageErrorPasswordNotMatch}"></p>
            </div>
            <br>

            <!--ReCaptcha-->
            <div class="col-sm-6">
                <div class="g-recaptcha" th:attr="data-sitekey=${siteKey}"></div>
                <div th:if="${captchaError}" class="alert alert-danger" role="alert" th:text="${captchaError}"></div>
            </div>
            <br>
            <!--ReCaptcha-->

            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{register}"></button>
        </form>

    </div>

    <div class="col-lg-5"></div>
</div>
<br>
<!--Main layout-->

<!--Footer-->
<header th:insert="blocks/footer :: footer"></header>

</body>
</html>